#banner{
    width: 100%;
}

.principal{
    background: #CCCCCC;
    padding: 20px;
}

.titprin{
    text-align: center; 
    background: #b0c2ff;
    border: 5px solid #000000;
    margin-left: 20%;
    margin-right: 20%;
}

p{
    text-align: center;
}

#mision{
    font-size: 20px;
}

em strong{
    color: red;
}

.diferenciales{
    background: #FFFFFF;
    padding: 30px;
}

.titcen{
    text-align: center;
}

.items{
    font-style: italic;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imgdif{
    width: 50%;
}

.volverprod{
    text-align: center;
    width: 940px;
    margin: 0 auto;
}

nav{
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

nav a:hover{
    color: #C78C19;
    text-decoration: underline;
}